{% include "header.html" %}

<!-- Page Header -->

<!-- Main Content -->
<div class="container pt-2">
  <div class="">
    <button type="button" class="btn btn-primary btn-lg">Add drug</button>
    <button type="button" class="btn btn-secondary btn-lg">Delete drug</button>
  </div>

  <div class="row">
    <table class="table table-striped mx-3">
      <thead>
        <tr>
          <th scope="col">Drug Name</th>
          <th scope="col">Strength</th>
          <th scope="col">Count</th>
          <th scope="col">Edit Count</th>
          <th scope="col">Delete Drug</th>
        </tr>
      </thead>
      {% for drug in drugs: %}
      <tbody>
        <tr>
          <td scope="row">{{ drug.name }}</td>
          <td>{{ drug.measure }}{{ drug.unit }}</td>
          <td>{{ drug.count }}</td>
          <td><a href="#">edit drug</a></td>
          <td><a href="#">remove drug</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% include "footer.html" %}
